* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
}

header {
  padding: 20px;
  background-color: #6b3e26;
  color: white;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: #ffd9b3;
  transition: 0.3s;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  text-align: center;
  background-color: #d9c2a8;
  padding: 60px 20px;
}

.hero h2 {
  margin-bottom: 20px;
}
.hero p {
  margin-bottom: 20px;
  max-width: 600px;
  margin: 0 auto 20px auto;
}

section {
  padding: 40px 20px;
}

.sobre {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.sobre p {
  margin-top: 15px;
  line-height: 1.5;
}

.cardapio h2 {
  text-align: center;
  margin-bottom: 30px;
}

.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: center;
}

.card {
  background-color: #e6d5c3;
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 20px;
  width: 220px;
  text-align: center;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.3);
}

.card h3 {
  margin-bottom: 10px;
}
.card p {
  margin-bottom: 10px;
}

button {
  background-color: #6f4e37;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px;
  transition: 0.3s;
  font-weight: bold;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}

button:hover {
  background-color: #5a3e2b;
  transform: scale(1.05);
}

footer {
  background-color: #6b3e26;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
